venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

.idea/
pretrained/
*/es_core_news_md/
opinion_process/linguisticrule/es_core_news_md/
opinion_process/linguisticrule/en_core_web_md/
opinion_process/nlp/pretrained/
tests/spacy_module/
tests/pretrained/


spacy_module/
dist/
build/
*.egg-info/