#torch==1.8.0
torch==1.9.0+cu111
tqdm
boto3
transformers
requests
regex
sentencepiece
sacremoses
imageio
neuralnet-pytorch
scikit-learn
#sklearn
psutil>=5.4.8
#transformers
pytorch_transformers
#pytorch_pretrained_bert==0.6.2
spacy==2.3.0
spacy-langdetect==0.1.2
flask==1.1.2
flask-cors==3.0.8
flask-restful==0.3.8
bson


